.index{
    select{
        width: 134px;
        font-weight: bold;
    }
    .header{
        a{
            height: 24px;
        }
    }
    .content{
        select{
            width: 74px;
            margin-bottom: 6px;
        }
    }
    .faqList{
        width: 34.8584%;
    }
    .list-group{
        width: 100%;
        border-radius: 2px;
    }
    .list-group-item{
        border-color: #CED4DA;
    }
    .faqDetail{
        width: 63.6166%;
    }
    .container-fluid{
        border-radius: 2px;
    }
    .row{
        padding-bottom: 6px;
    }
    .card-header{
        .material-symbols-outlined {
            top: 20px;
            right: 17px;
        }
        .dropstart{
            top: 20px;
            right: 17px;
        }
    }
    .flex-shrink-0{
        img{
            width: 40px;
            height: 40px;
            border-radius: 50px;
        }
    }
    .flex-grow-1{
        button{
            border-radius: 2px;
            margin-bottom: 16.5px;
        }
        .material-symbols-outlined{
            font-weight: normal;
        }
        .star .material-symbols-outlined{
            font-variation-settings:
            'FILL' 0;
        }
        .star:focus{
            .material-symbols-outlined{
                font-variation-settings:
                'FILL' 1;
            }
        }
        p{
            a{
                height: 24px;
            }
        }
        .text-success{
            font-family: 'Roboto mono';
            background-color: $green-100;
            
        }
    }
    .page-link{
        height: 24px;
        .material-symbols-outlined:hover{
            color: $success;
        }
    }
    .bottom.hidden{
        display: none;
    }
    .own.hidden{
        display: none;
    }
    .replyForm.show{
        display: block;
    }
    .replyForm{
        .p-1{
            height: 34px;
        }
        textarea{
            resize: none;
            width: 100%;
            height: 180px;
        }
        button{
            border-radius: 2px;
        }
    }
}